@import "~bootstrap/dist/css/bootstrap.css";

.nav1 ul {
    list-style: none;
    margin-left: 6rem;
}
.nav1 a {
    text-decoration: none;
    padding-right: 1rem;
    color: black
}
.nav1 li {
    display: inline-block;
    margin-top: 1.5rem;
    margin-right: 6rem;
    font-size: 1rem; 
  
}
  .nav1 ul li a {
    font-family: poppsin;
}
.container {
    margin-top: 2rem;
}
a:hover {
  border: 1px solid black;
  background-color: rgb(236, 177, 13);
  
}
.logo {
    font-size: 3rem;
    color: gold;

}
.nav1 {
    margin-bottom: 2rem;
}